<form [formGroup]="userHomeForm" (ngSubmit)="onSubmit()">
    <div class="form-group1">
        <button type="button" (click)="viewMyInfo()">View My Profile</button>
        <button type="button" (click)="showPhotosForm()">Upload a Photo</button>
        <button type="button" (click)="viewPhotos('true')">View Photos</button>
        <button type="button" (click)="viewMyFriends()">View My Friends</button>
        <button type="button" (click)="viewMyPendingFriendRequest()">View My FriendRequests</button>
        <button type="button" (click)="showFriendRequestForm()">Send Friend Request</button>
        <button type="button" (click)="showPostsForm()">Post a Message</button>
        <button type="button" (click)="getPostMessages('true')">View Messages</button>
        <button type="button" (click)="logout()">Logout</button>
    </div>
    <div *ngIf="myProfile.length > 0">
        <table>
            <tr class = "headerRow">
                <td>{{"User Name"}}</td>
                <td>{{"Email"}}</td>
                <td>{{"First Name"}}</td>
                <td>{{"Last Name"}}</td>
                <td>{{"Date of Creation"}}</td>
            </tr> 
        </table>
    </div>
    <div *ngFor = "let u of myProfile">
        <table>
            <tr>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
                <td>{{u.date}}</td>
            </tr> 
        </table>
        <div *ngFor = "let p of myPosts">
            <table>
                <tr>
                    <td>{{p.post}}</td>
                    <td>{{p.senttime}}</td>
                </tr> 
            </table>
        </div>
    </div>
    <div *ngIf="myFriends.length > 0">
        <table id = "friendsTable">
            <tr class = "headerRow">
                <td>{{"User Name"}}</td>
                
                <td>{{"First Name"}}</td>
                <td>{{"Last Name"}}</td>
                <td>{{"Alter Friendship"}}</td>
            </tr> 
        </table>
    </div>
    <div *ngFor = "let u of myFriends">
        <table>
            <tr>
                <td>{{u.username}}</td>
                
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
                <td><button class = "btn" type="button" (click)="unFriend(u.username)">Unfriend</button></td>
            </tr>
           
        </table>
    </div><div *ngIf="myPendingFriends.length > 0">
        <table>
            <tr class = "headerRow">
                <td>{{"User Name"}}</td>
                <td>{{"First Name"}}</td>
                <td>{{"Last Name"}}</td>
                <td>{{"Alter Friendship"}}</td>
            </tr> 
        </table>
    </div>
    <div *ngFor = "let u of myPendingFriends">
        <table>
            <td>{{u.username}}</td>
            
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td><button class = "btn" type="button"  (click)="approveFriend(u.username)">Approve</button></td>
        </table>
    </div>
    <div *ngFor = "let u of allPhotos">
        <table>
            <td>{{u.username}}</td> 
            <!-- <td><img src={{u.filename}} height="50"/></td>  -->
            <td><img src="https://revature20200921p2snapster.s3.us-east-2.amazonaws.com/{{u.filename}}" height="50"/></td> 
        </table>
        
    </div>
    <div *ngIf="allPosts.length > 0">
        <table>
            <tr class = "headerRow">
                <td class = "usernameColumn">{{"User Name"}}</td>
                <td>{{"Message"}}</td>
                <td class = "sentTimeColumn">{{"Sent Time"}}</td>
            </tr> 
        </table>
    </div>
    <div *ngFor = "let p of allPosts">
        <table>
            <tr>
                <td class = "usernameColumn" >{{p.username}}</td>
                <td id = "thepost">{{p.post}}</td>
                <td class = "sentTimeColumn">{{p.senttime}}</td>
            </tr> 
        </table>
    </div>
</form>

<div *ngFor = "let u of requestFriendList">
    <form  [formGroup]="requestFriendForm" (ngSubmit)="requestFriend()">
        <div class="form-group">
            <label for="friendusername">Friend Username</label>
            <input type="text" formControlName="friendusername" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestFriendFunc.friendusername.errors }" />
            <div *ngIf="submitted && requestFriendFunc.friendusername.errors" class="invalid-feedback">
                <div *ngIf="requestFriendFunc.friendusername.errors.required">Username is required</div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Request
            </button>
        </div>
    </form>
</div>
<div *ngFor = "let u of requestPostsList">
    <form  [formGroup]="requestPostsForm" (ngSubmit)="sendPostMessage()">
        <div class="form-group">
            <label for="message" id = "myPostLabel">What's on your mind?</label>
            <input type="text" id = "posts" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && sendPostMessageFunc.message.errors }" />
            <div *ngIf="submitted && sendPostMessageFunc.message.errors" class="invalid-feedback">
               
            </div>
            <button id = "postBtn"[disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Post
            </button>
        </div>
    </form>
</div>
<div *ngFor = "let u of requestPhotosList">
    <form  [formGroup]="requestPhotosForm">
        <div class="form-group">
            <label for="img2">Upload an image:</label>
            <!--
                <input type="file" id="img" name = "img" value = "img" formControlName="img" class="form-control" (change)="onPhotoFileSelect($event)" [ngClass]="{ 'is-invalid': submitted && sendPhotoFunc.img.errors }">
            -->
            <input style = "display:none" type="file" name = "img" (change)="onPhotoFileSelect($event)" #fileInput >
            <button (click) = "fileInput.click()">Select File</button>
            <label for="message">Caption:</label>
            <input type="text" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && sendPostMessageFunc.message.errors }" />
            <button (click) = "sendPhoto()">Post</button>
           
        </div>
    </form>
</div>