<form [formGroup]="userHomeForm" (ngSubmit)="onSubmit()">
    <div class="form-group1">
        <button type="button" (click)="viewMyInfo()">View My Info</button>
        <button type="button" (click)="viewMyPhotos()">View My Photos</button>
        <button type="button" (click)="viewMyFriends()">View My Friends</button>
        <button type="button" (click)="viewMyPendingFriendRequest()">View My FriendRequests</button>
        <button type="button" (click)="showFriendRequestForm()">Send Friend Request</button>
        <button type="button" (click)="viewMyFriendPhotos()">View My Friend Photos</button>
    </div>
    <div *ngFor = "let u of users">
        <table>
            <tr>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
            </tr> 
           
        </table>
    </div>
    <div *ngFor = "let u of myFriends">
        <table>
            <tr>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
                <td><button class = "btn" type="button" (click)="unFriend(u.username)">Unfriend</button></td>
            </tr>
           
        </table>
    </div>
    <div *ngFor = "let u of myPendingFriends">
        <table>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td><button class = "btn" type="button"  (click)="approveFriend(u.username)">Approve</button></td>
        </table>
    </div>
    <div *ngFor = "let u of myPhotos">
        <table>
            <td>{{u.username}}</td> 
            <td><img src="https://revature20200921p2snapster.s3.us-east-2.amazonaws.com/{{u.filename}}" height="50"/></td>           
        </table>
        
    </div>
</form>

<div *ngFor = "let u of requestFriendList">
    <form  [formGroup]="requestFriendForm" (ngSubmit)="requestFriend()">
        <div class="form-group">
            <label for="friendusername">Friend Username</label>
            <input type="text" formControlName="friendusername" class="form-control" [ngClass]="{ 'is-invalid': submitted && requestFriendFunc.friendusername.errors }" />
            <div *ngIf="submitted && requestFriendFunc.friendusername.errors" class="invalid-feedback">
                <div *ngIf="requestFriendFunc.friendusername.errors.required">Username is required</div>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Request
            </button>
        </div>
    </form>
</div>