
.form-group1 {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.form-group1 button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.form-group1 button:hover {
	background-color: #ddd;
}

.form-group1 button.active {
	background-color: #ddd;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    table-layout: fixed ;
}

table td, table th {
	border: 1px solid #ddd;
    padding: 8px;
    
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}


.btn{
	border: 2px solid black;
	border-radius: 12px;
	background-color: transparent;
	color: black;
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold;
	padding: 12px 28px;
	position:relative; left:50px; top:8px; 
	text-align: center;
	font-size:16px;
}
.btn:hover{
	background-color: white;
}

#posts{
	
	
	position: relative; top:20px; right: 195px;
	
	width: 700px;
	margin: auto;
	
}

#postBtn{
	position: relative;right: 400px; top: 400px; 
}
#myPostLabel{
	color: black;
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold;
	font-size: 20px;
}

.headerRow{
	color: black;
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold;
	font-size: 20px;
}
#friendsTable{
	table-layout: fixed ;
}
